body {
  font-family: Arial, sans-serif;
  background-color: #cfe8f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}

.box {
  background: #f5f5f5;
  width: 330px;      
  height: 330px;     
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-box {
  padding: 0;
  overflow: hidden;
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
