body {
  background-color: pink;
}
h1 {
  color: beige;
  margin-left: 20px;
}
p {
  background: beige;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
  line-height: 1.6;
  font-size: 18px;
  color: beige;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

img {
  width: 300px;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}